<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/39fd612e-cca3-467d-8685-bc8850ebfa61/resourcegroups/cloudinitiativeacr/providers/Microsoft.ContainerRegistry/registries/WebApiTest20200428055827</ResourceId>
    <ResourceName>WebApiTest20200428055827</ResourceName>
    <ResourceGroup>cloudinitiativeacr</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://webapitest20200428055827.azurecr.io/</RegistryUrl>
    <UserName>WebApiTest20200428055827</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>